
.file-input-wrapper {
    position: relative;
    width: fit-content;
}

.custom-export-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px
}

.custom-file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 65px;
    left: 10px
}

.custom-file-label:hover {
    background-color: #0056b3;
}

/*
F0AE4F
f09200
ec744e
*/
.stripe-background {
    background: repeating-linear-gradient(
        45deg,
        rgba(240, 174, 79, 0.5), /* 明るいオレンジに透明度0.5 */
        rgba(240, 174, 79, 0.5) 30px, /* 30px幅までオレンジ */
        rgba(240, 146, 0, 0.5) 30px,  /* 濃いオレンジに透明度0.5 */
        rgba(240, 146, 0, 0.5) 60px,  /* 60pxまで濃いオレンジ */
        rgba(236, 116, 78, 0.5) 60px, /* ピンクオレンジに透明度0.5 */
        rgba(236, 116, 78, 0.5) 90px  /* 90pxまでピンクオレンジ */
    );
}
